<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetMealDishMapper">
    <update id="update" parameterType="com.sky.entity.SetmealDish">
        update setmeal_dish
        <set>
            <if test="id!=null"> id=#{id},</if>
            <if test="setmealId!=null"> setmeal_id=#{setmealId},</if>
            <if test="dishId!=null"> dish_id=#{dishId},</if>
            <if test="name!=null"> name=#{name},</if>
            <if test="price!=null"> price=#{price},</if>
            <if test="copies!=null"> copies=#{copies}</if>

        </set>
        <where>
            <if test="id!=null"> and id=#{id}</if>
            <if test="setmealId!=null"> and setmeal_id=#{setmealId}</if>
            <if test="dishId!=null"> and dish_id=#{dishId}</if>
        </where>
    </update>
    <delete id="deleteBySetmealId">
        delete from setmeal_dish
        where setmeal_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        select setmeal_id from setmeal_dish where dish_id in
        <foreach collection="DishIds" separator="," item="id" close=")" open="(">
            #{id}
        </foreach>
    </select>
</mapper>